<h3>Feito por Ricardo Pulice, Eduardo Mendes e Ângelo Coelho</h3>
<iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSZFpWYIoN-h2lcvtoAkVW8dJwSk4_EMFM3eqTos11grdv155O_YmCf6hOQ7ybGotoMXTlcCL8r5Eh5/pubhtml?widget=true&amp;headers=false"></iframe>
<style>
body {
    margin: 0;            /* Reset default margin */
}
iframe {
    display: block;       /* iframes are inline by default */
    background: #000;
    border: none;         /* Reset default border */
    height: 100vh;        /* Viewport-relative units */
    width: 100vw;
}
</style>